* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: black;
    color: white;
}

#descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #2d65f6;
    border: 1px solid #2d65f6;
    border-radius: 5px;
    padding: 10px;
}

.preto {
    background-color: black;
    color: white;
}

.azul {
    background-color: #2d65f6;
    color: white;
}